<section class="about-us-section section" id="about-us">
  <div class="container">
    <div class="box-about-us">
      <div class="about-us-wrapper">
        <h2 class="about-us-title">
          YachtJet fleet is here to take you on the ultimate adventure
        </h2>
        <div class="about-us-caption-and-text-wrapper">
          <h3 class="about-us-caption">
            From spacious decks to state-of-the-art technology, our yachts are
            designed to provide the perfect blend of luxury and functionality.
          </h3>
          <p class="about-us-text">
            Take a look at our selection below and choose the yacht that matches
            your needs and preferences.No matter which yacht you choose, our
            experienced crew will ensure that your journey is smooth and
            enjoyable. Book now and get ready for an unforgettable adventure on
            the high seas.
          </p>
        </div>
      </div>
      <div class="tumb-picture">
        <picture class="about-us-picture">
          <source
            srcset="
              ./img/about_us/about-us-desktop-1440.jpg   1x,
              ./img/about_us/about-us-desktop-1440@2.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/about_us/about-us-desktop.jpg   1x,
              ./img/about_us/about-us-desktop@2.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/about_us/about-us-tablet.jpg   1x,
              ./img/about_us/about-us-tablet@2.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/about_us/about-us-mobil.jpg   1x,
              ./img/about_us/about-us-mobil@2.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./img/about_us/about-us-mobil.jpg" alt="Yacht image" />
        </picture>
      </div>
    </div>
  </div>
</section>
