<section class="advantages section">
  <div class="container advantages-container">
    <h2 class="advantages-page-title visually-hidden">Advantages</h2>

    <ol class="advantages-list">
      <li class="advatages-list-item">
        <h3 class="advantages-number current">01</h3>
        <p class="advantages-descreption">
          Swimming and water sports: try your hand <br />
          at water skiing
        </p>
      </li>
      <li class="advatages-list-item">
        <h3 class="advantages-number current">02</h3>
        <p class="advantages-descreption">
          Fishing: try to catch your own dinner
        </p>
      </li>
      <li class="advatages-list-item">
        <h3 class="advantages-number current">03</h3>
        <p class="advantages-descreption">
          Sightseeing tours: take a shore or island tour, enjoy the views and
          sunsets from the water
        </p>
      </li>
      <li class="advatages-list-item">
        <h3 class="advantages-number current">04</h3>
        <p class="advantages-descreption">
          Rest and relaxation: read a book or listen to music while enjoying the
          outdoor atmosphere.
        </p>
      </li>
    </ol>

    <picture>
      <source
        srcset="
          ./img/advantages/advantages-desktop1440.jpg   1x,
          ./img/advantages/advantages-desktop1440@2.jpg 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          ./img/advantages/advantages-desktop.jpg   1x,
          ./img/advantages/advantages-desktop@2.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/advantages/advantages-tablet.jpg   1x,
          ./img/advantages/advantages-tablet@2.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/advantages/advantages-mobil.jpg   1x,
          ./img/advantages/advantages-mobil@2.jpg 2x
        "
        media="(max-width: 767px)"
      />

      <img
        class="advatages-image"
        src="./img/advantages/advantages-mobil.jpg"
        alt="Advantages picture"
      />
    </picture>
  </div>
</section>
