<section class="advantages">
  <div class="container">
    <div class="adavatages-list">
      <ul class="adavatages-list">
        <li class="adavatages-list-item">
          <h3 class="advantages-number current">01</h3>
          <p class="advantages-descreption">
            Swimming and water sports: try your hand at water skiing
          </p>
        </li>
        <li class="adavatages-list-item">
          <h3 class="advantages-number current">02</h3>
          <p class="advantages-descreption">
            Fishing: try to catch your own dinner
          </p>
        </li>
        <li class="adavatages-list-item">
          <h3 class="advantages-number current">03</h3>
          <p class="advantages-descreption">
            Sightseeing tours: take a shore or island tour, enjoy the views and
            sunsets from the water
          </p>
        </li>
        <li class="adavatages-list-item">
          <h3 class="advantages-number current">04</h3>
          <p class="advantages-descreption">
            Rest and relaxation: read a book or listen to music while enjoying
            the outdoor atmosphere.
          </p>
        </li>
      </ul>
    </div>
    <img src="" alt="" />
  </div>
</section>
