<section class="footer">
  <div class="container">
    <div class="footer-container">
      <div class="footer-menu-social-icons">
        <div class="footer-logo">
          <a href="#">yachtjet</a>
        </div>
        <nav class="footer-nav">
          <ul class="footer-menu">
            <li class="footer-item">
              <div class="footer-item-container">
                <a class="footer-link" href="#">about</a>
              </div>
            </li>
            <li class="footer-item">
              <a class="footer-link" href="#">yachts</a>
            </li>
            <li class="footer-item">
              <a class="footer-link" href="#">reviews</a>
            </li>
          </ul>
        </nav>

        <div class="footer-social">
          <ul class="footer-social-list">
            <li class="footer-social-item">
              <a
                class="Footer-social-item-icon"
                href="https://www.instagram.com/goitclub/"
              ></a>
              <svg class="footer-social-icon" width="24" height="24">
                <use href="../img/icons.svg#icon-instagram"></use>
              </svg>
            </li>
            <li class="footer-social-item">
              <a
                class="Footer-social-item-icon"
                href="https://www.youtube.com/c/GoIT"
              ></a>
              <svg class="footer-social-icon" width="24" height="24">
                <use href="../img/icons.svg#icon-youtube"></use>
              </svg>
            </li>
            <li class="footer-social-item">
              <a
                class="Footer-social-item-icon"
                href="https://www.facebook.com/goITclub/"
              ></a>
              <svg class="footer-social-icon" width="24" height="24">
                <use href="../img/icons.svg#icon-facebook"></use>
              </svg>
            </li>
          </ul>
        </div>
      </div>

      <h3 class="footer-title">
        No matter which yacht you choose, our experienced crew will ensure that
        your journey is smooth and enjoyable.
      </h3>
      <div class="copyright-info">
        <p class="footer-copyright">&copy; 2023. Yacht Adventures</p>
        <a class="footer-copyright-link" href="#" target="_blank"
          >Privacy Police</a
        >
      </div>
    </div>
  </div>
</section>
