<footer class="footer-page">
  <div class="container footer-container">
    <div class="footer-up-container">
      <a class="footer-logo" href="./index.html">yachtjet</a>

      <nav class="footer-nav">
        <ul class="footer-menu">
          <li class="footer-item">
            <a class="footer-link" href="#about-us">about</a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#our-yachts">yachts</a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#reviews">reviews</a>
          </li>
        </ul>
      </nav>

      <div class="footer-social">
        <ul class="footer-social-list">
          <li class="footer-social-item">
            <a
              class="footer-social-item-icon"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
            >
              <svg
                class="footer-social-icon"
                width="24"
                height="24"
                aria-label="instagram icon"
              >
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a
              class="footer-social-item-icon"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
            >
              <svg
                class="footer-social-icon"
                width="24"
                height="24"
                aria-label="youtube icon"
              >
                <use href="./img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a
              class="footer-social-item-icon"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
            >
              <svg
                class="footer-social-icon"
                width="24"
                height="24"
                aria-label="facebook icon"
              >
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <p class="footer-title">
      No matter which yacht you choose, our experienced crew will ensure that
      your journey is smooth and enjoyable.
    </p>
    <div class="copyright-info">
      <p class="footer-copyright">&copy; 2023. Yacht Adventures</p>
      <a class="footer-copyright-link" href="#" target="_blank"
        >Privacy Police
      </a>
    </div>
  </div>
</footer>
