<header class="page-header">
  <div class="container-header">
    <a href="./index.html" class="navbar-brand">yachtjet</a>
    <nav class="navbar">
      <ul class="navbar-menu">
        <li class="navbar-menu-btn">
          <a class="header-nav-link" href="#about-us">About</a>
        </li>
        <li class="navbar-menu-btn">
          <a class="header-nav-link" href="#our-yachts">Yachts</a>
        </li>
        <li class="navbar-menu-btn">
          <a class="header-nav-link" href="#reviews">Reviews</a>
        </li>
      </ul>
    </nav>
    <ul class="header-social-list">
      <li class="header-social-list-item">
        <a
          href="https://www.instagram.com/goitclub/"
          class="header-social-list-link"
          target="_blank"
        >
          <svg
            class="header-social-list-icon"
            width="24"
            height="24"
            aria-label="instagram-icon"
          >
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-list-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="header-social-list-link"
          target="_blank"
        >
          <svg
            class="header-social-list-icon"
            width="24"
            height="24"
            aria-label="youtube-icon"
          >
            <use href="./img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-list-item">
        <a
          href="https://www.facebook.com/goITclub/"
          class="header-social-list-link"
          target="_blank"
        >
          <svg
            class="header-social-list-icon"
            width="24"
            height="24"
            aria-label="facebook-icon"
          >
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button
      class="mobile-menu-open-btn-header"
      type="button"
      data-mobil-menu-open
    >
      <svg
        class="mobile-menu-open-btn-icon-header"
        width="28"
        height="28"
        aria-label="mobile menu open icon"
      >
        <use href="../img/icons.svg#icon-burger-header-mobil"></use>
      </svg>
    </button>
  </div>
</header>
