<header class="page-header">
    <div class="container-header">
    <nav class="navbar">
        <div class="navbar-box">
            <a href="" class="navbar-brand">yachtjet</a>
            <ul class="navbar-menu">
                <li class="navbar-menu-btn"><a href="#">About</a></li>
                <li class="navbar-menu-btn"><a href="#">Yachts</a></li>
                <li class="navbar-menu-btn"><a href="#">Reviews</a></li>
            </ul>
        </div>
    </nav>
    <ul class="social-list">
        <li class="social-list-header">
            <a href="" class="social-list-link">
                <svg class="social-list-icon" width="24" height="24" aria-label="instagram-icon">
                    <use href="../img/icons.svg#icon-instagram"></use>
                </svg>
            </a>
        </li>
        <li class="social-list-header">
            <a href="" class="social-list-link">
                <svg class="social-list-icon" width="24" height="24" aria-label="youtube-icon">
                    <use href="../img/icons.svg#icon-youtube"></use>
                </svg>
            </a>
        </li>
        <li class="social-list-header">
            <a href="" class="social-list-link">
                <svg class="social-list-icon" width="24" height="24" aria-label="facebook-icon">
                    <use href="../img/icons.svg#icon-facebook"></use>
                </svg>
            </a>
        </li>
    </ul>
    <button class="mobile-menu-open-btn-header" type="button">
        <svg class="mobile-menu-open-btn-icon-header" width="28" height="28" aria-label="mobile menu opem icon" >
            <use href="../img/icons.svg#icon-burger-header-mobil"></use>
        </svg>
    </button>
    </div>
    </header>