<header class="page-header">
    <div class="container-header">
        <a href="" class="navbar-brand">yachtjet</a>
    <nav class="navbar">
        <div class="navbar-box">
           
            <ul class="navbar-menu">
                <li class="navbar-menu-btn"><a href="#" width="91" height="40">About</a></li>
                <li class="navbar-menu-btn"><a href="#" width="91" height="40">Yachts</a></li>
                <li class="navbar-menu-btn"><a href="#reviews" width="91" height="40">Reviews</a></li>
            </ul>
        </div>
    </nav>
    <ul class="social-list">
        <li class="social-list-header">
            <a href="https://www.instagram.com/goitclub/" class="social-list-link">
                <svg class="social-list-icon" width="24" height="24" aria-label="instagram-icon">
                    <use href="../img/icons.svg#icon-instagram"></use>
                </svg>
            </a>
        </li>
        <li class="social-list-header">
            <a href="https://www.youtube.com/c/GoIT" class="social-list-link">
                <svg class="social-list-icon" width="24" height="24" aria-label="youtube-icon">
                    <use href="../img/icons.svg#icon-youtube"></use>
                </svg>
            </a>
        </li>
        <li class="social-list-header">
            <a href="https://www.facebook.com/goITclub/" class="social-list-link">
                <svg class="social-list-icon" width="24" height="24" aria-label="facebook-icon">
                    <use href="../img/icons.svg#icon-facebook"></use>
                </svg>
            </a>
        </li>
    </ul>
    <button class="mobile-menu-open-btn-header" type="button">
        <svg class="mobile-menu-open-btn-icon-header" width="28" height="28" aria-label="mobile menu opem icon" >
            <use href="../img/icons.svg#icon-burger-header-mobil"></use>
        </svg>
    </button>
    </div>
    </header>