<section class="hero">
  <div class="container hero-container">
    <h1 class="hero-title">
      Explore the <span class="capitalize">high seas</span> with
      <span class="capitalize">our luxury yacht rentals</span>
    </h1>
    <p class="hero-paragraph">
      Experience the freedom and luxury of yachting on the open seas. Choose
      from our top-of-the-line yachts and embark on an unforgettable journey
      surrounded by breathtaking views and state-of-the-art amenities.
    </p>
    <a href="#rent-yacht" class="hero-btn"><span>Yacht rental</span></a>
  </div>
</section>
