<!-- OUR YAHTS SECTION -->
<section class="our-yachts-section section" id="our-yachts">
  <div class="container our-yachts-container">
    <h2 class="our-yachts-section-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="our-yahts-list">
      <li class="our-yahts-card arrow-card">
        <picture>
          <source
            srcset="
              ./img/our_yachts/our-yacht-desktop1440.jpg   1x,
              ./img/our_yachts/our-yacht-desktop1440@2.jpg 2x
            "
            media="(min-width: 1400px)"
          />
          <source
            srcset="
              ./img/our_yachts/our-yacht-desktop.jpg   1x,
              ./img/our_yachts/our-yacht-desktop@2.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/our_yachts/our-yacht-tablet.jpg   1x,
              ./img/our_yachts/our-yacht-tablet@2.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/our_yachts/our-yaht-mobil.jpg   1x,
              ./img/our_yachts/our-yaht-mobil@2.jpg 2x
            "
            media="(min-width: 320px) and (max-width: 375px)"
          />
          <img src="./img/our_yachts/our-yaht-mobil.jpg" alt="Arrow" />
        </picture>

        <div class="yacht-title">
          <h3 class="yacht-name">Arrow</h3>
          <p class="yacht-class">Luxury Yahts</p>
        </div>
        <div class="yacht-params">
          <ul class="yacht-params-names">
            <li class="yaht-parameter-name">LENGTH</li>

            <li class="yaht-parameter-name">BUILDER</li>

            <li class="yaht-parameter-name">BUILT</li>

            <li class="yaht-parameter-name">GUESTS</li>

            <li class="yaht-parameter-name">PRICE</li>
          </ul>
          <ul class="yaht-params-values">
            <li class="yaht-parameter-value">48m(155ft)</li>
            <li class="yaht-parameter-value">Admiral</li>
            <li class="yaht-parameter-value">2021</li>
            <li class="yaht-parameter-value">11 in 5 cabins</li>
            <li class="yaht-parameter-value">€33,500,000</li>
          </ul>
        </div>
      </li>
      <li class="our-yahts-card benetti-oasis-card">
        <picture>
          <source
            srcset="
              ./img/our_yachts/our-yacht-2-desktop1440.jpg   1x,
              ./img/our_yachts/our-yacht-2-desktop1440@2.jpg 2x
            "
            media="(min-width: 1400px)"
          />
          <source
            srcset="
              ./img/our_yachts/our-yacht-desktop2.jpg   1x,
              ./img/our_yachts/our-yacht-desktop2@2.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/our_yachts/our-yacht-tablet2.jpg   1x,
              ./img/our_yachts/our-yacht-tablet2@2.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./img/our_yachts/our-yacht-tablet2.jpg"
            alt="BENETTI OASIS 40M BO122"
          />
        </picture>
        <div class="yacht-title benetti-card">
          <h3 class="yacht-name benetti-card-overflow">
            Benetti oasis 40m bo122
          </h3>
          <p class="yacht-class">Luxury Yahts</p>
        </div>
        <div class="yacht-params benetti-params">
          <ul class="yacht-params-names">
            <li class="yaht-parameter-name">LENGTH</li>

            <li class="yaht-parameter-name">SHIPYARD</li>

            <li class="yaht-parameter-name">BUILT</li>

            <li class="yaht-parameter-name">GUESTS</li>

            <li class="yaht-parameter-name">PRICE</li>
          </ul>
          <ul class="yaht-params-values">
            <li class="yaht-parameter-value">41m (133ft)</li>
            <li class="yaht-parameter-value">Benetti</li>
            <li class="yaht-parameter-value">2025</li>
            <li class="yaht-parameter-value">10 in 5 cabins</li>
            <li class="yaht-parameter-value">€23,210,000</li>
          </ul>
        </div>
      </li>
      <li class="our-yahts-card belle-anna-card">
        <picture>
          <source
            srcset="
              ./img/our_yachts/our-yacht-3-desktop1440.jpg   1x,
              ./img/our_yachts/our-yacht-3-desktop1440@2.jpg 2x
            "
            media="(min-width: 1400px)"
          />
          <source
            srcset="
              ./img/our_yachts/our-yacht-desktop3.jpg   1x,
              ./img/our_yachts/our-yacht-desktop3@2.jpg 2x
            "
            media="(min-width: 1280px)"
          />

          <img src="./img/our_yachts/our-yacht-desktop3.jpg" alt="BELLE ANNA" />
        </picture>
        <div class="yacht-title belle-anna-title">
          <h3 class="yacht-name">BELLE ANNA</h3>
          <p class="yacht-class">Luxury Yahts</p>
        </div>
        <div class="yacht-params belle-anna-params">
          <ul class="yacht-params-names">
            <li class="yaht-parameter-name">LENGTH</li>
            <li class="yaht-parameter-name">SHIPYARD</li>
            <li class="yaht-parameter-name">BUILT</li>
            <li class="yaht-parameter-name">GUESTS</li>
            <li class="yaht-parameter-name">PRICE</li>
          </ul>
          <ul class="yaht-params-values">
            <li class="yaht-parameter-value">50m(155ft)</li>
            <li class="yaht-parameter-value">ISA</li>
            <li class="yaht-parameter-value">2012</li>
            <li class="yaht-parameter-value">12 in 6 cabins</li>
            <li class="yaht-parameter-value">€21,000,000</li>
          </ul>
        </div>
      </li>
    </ul>
    <a href="#rent-yacht" class="yaht-rental-link">
      <span class="span-btn-ouryachts">Yacht rental</span>
    </a>
  </div>
</section>
