<section class="section reviews section" id="reviews">
  <div class="container reviews-container">
    <h2 class="section-title reviews-title">
      YachtJet take pride in providing the best possible service and experience
      to our customers
    </h2>
    <p class="reviews-text">
      Our customers have enjoyed unforgettable moments on our yachts. Don't just
      take our word for it - read on to find out what they have to say about
      their journey with us.
    </p>
    <ul class="reviews-list list">
      <li class="reviews-list-item reviews-list-item-first">
        <img
          class="reviews-list-avatar"
          srcset="
            ./img/reviews/john-wax.png   1x,
            ./img/reviews/john-wax@2.png 2x
          "
          src="./img/reviews/john-wax.png"
          alt="John Wax"
        />
        <h3 class="reviews-list-fullname">John Wax</h3>
        <p class="reviews-list-text-first">
          I rented the Lagoon 620 with my family for a week-long vacation and it
          was the best decision ever. The yacht was spacious, comfortable, and
          luxurious, and the crew took care of everything.
        </p>
      </li>
      <li class="reviews-list-item reviews-list-item-second">
        <img
          class="reviews-list-avatar"
          srcset="
            ./img/reviews/victoria-romashenko.png   1x,
            ./img/reviews/victoria-romashenko@2.png 2x
          "
          src="./img/reviews/victoria-romashenko.png"
          alt="Victoria Romashenko"
        />
        <h3 class="reviews-list-fullname">Victoria Romashenko</h3>
        <p class="reviews-list-text-second">
          The Sunseeker Manhattan 66 was the perfect choice for our romantic
          getaway. The yacht was beautifully designed, with all the amenities we
          needed, and the crew was attentive and friendly.
        </p>
      </li>
      <li class="reviews-list-item reviews-list-item-third">
        <img
          class="reviews-list-avatar"
          srcset="
            ./img/reviews/ihor-trachuk.png   1x,
            ./img/reviews/ihor-trachuk@2.png 2x
          "
          src="./img/reviews/ihor-trachuk.png"
          alt="Ihor Trachuk"
        />
        <h3 class="reviews-list-fullname">Ihor Trachuk</h3>
        <p class="reviews-list-text-third">
          The Azimut 80 was the most luxurious yacht I've ever been on. The
          cabins were spacious and elegant, and the outdoor areas were perfect
          for relaxing and entertaining. Worth every penny!
        </p>
      </li>
      <li class="reviews-list-item reviews-list-item-form">
        <p class="review-form-text">Leave a review</p>
        <form class="reviews-form" name="reviews-form">
          <div class="review-form-wrapper">
            <label class="reviews-form-label-file" for="upload-file__input_1">
            </label>
            <input
              class="reviews-form-file"
              id="upload-file__input_1"
              name="files[]"
              type="file"
              accept=".jpg, .jpeg, .png, .gif, .bmp, .doc, .docx, .xls, .xlsx, .txt, .tar, .zip, .7z, .7zip"
              required
            />
          </div>
          <div class="review-form-wrapper">
            <label class="reviews-form-label" for="user-fullname">Name</label>
            <input
              class="reviews-form-input"
              id="user-fullname"
              name="user-fullname"
              type="text"
              title="John Wax"
              placeholder="John Wax"
              required
            />
          </div>
          <div class="review-form-wrapper">
            <label class="reviews-form-label" for="user-review">Review</label>
            <textarea
              class="reviews-form-textarea"
              id="user-review"
              name="user-review"
              placeholder="Enter text"
              required
            >
            </textarea>
          </div>
          <button class="reviews-form-btn" type="submit">
            Send
            <!-- <svg
              class="reviews-form-icon-send"
              width="16"
              height="16"
              aria-label="reviews form icon send"
            >
              <use href="../img/icons.svg#icon-send"></use> 
            </svg> -->
          </button>
        </form>
      </li>
    </ul>
  </div>
</section>
