.container {
  margin-left: auto;
  margin-right: auto;
}
.advantages-list {
  background-color: #1b414b;
  border-radius: 24px;
}
.advantages-number {
  color: #fbfbfb;
  font-family: Inter;
  word-wrap: break-word;
  padding-bottom: 18px;
}
.advantages-descreption {
  color: #fbfbfb;
  font-family: Inter;
  word-wrap: break-word;
  padding-top: 18px;
}
.current {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  height: 2px;
  border-radius: 18px;
  background-color: #fbfbfb1a;
}
.advatages-image {
  border-radius: 18px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .section {
    padding-bottom: 80px;
  }
  .advantages-list {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 40px;
    margin-bottom: 20px;
  }

  .advatages-list-item {
    margin-left: 20px;
    margin-right: 20px;
  }
  .advantages-number {
    font-size: 28px;
    font-weight: 500;
    line-height: 28px;
  }
  .advantages-descreption {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
  }
  .current::after {
    width: 295px;
  }
}
@media screen and (min-width: 768px) {
  .section {
    padding-bottom: 150px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .advantages-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 32px;
    padding-right: 32px;
    gap: 44px 32px;
    margin-bottom: 32px;
  }

  .advantages-number {
    font-size: 32px;
    line-height: 32px;
  }
  .advantages-descreption {
    font-size: 13px;
    line-height: 14.95px;
    width: 292px;
  }
  .current::after {
    width: 304px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .container {
    max-width: 1280px;
  }
  .advantages-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 716px;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 50px;
    padding-right: 50px;
    gap: 44px 32px;
  }

  .advantages-number {
    font-size: 32px;
    line-height: 32px;
  }
  .advantages-descreption {
    font-size: 13px;
    line-height: 14.95px;
    width: 292px;
  }
  .current::after {
    width: 280px;
  }
  .advantages-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
  .advantages-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 768px;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 50px;
    padding-right: 50px;
    gap: 44px 32px;
  }

  .advantages-number {
    font-size: 32px;
    line-height: 32px;
  }
  .advantages-descreption {
    font-size: 13px;
    line-height: 14.95px;
    width: 292px;
  }
  .current::after {
    width: 318px;
  }
  .advantages-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
}
