/* MOBILE FOOTER STYLES */
.footer {
  border-radius: 24px 24px 0px 0px;
  background: #1b414b;
  margin-left: 10px;
  margin-right: 10px;
}

.footer-container {
  padding: 40px 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-up-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 80px;
}

.footer-logo {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: -0.03em;
}

.footer-nav {
  max-width: 206px;
  display: flex;
  column-gap: 4px;
}

.footer-menu {
  display: flex;
  gap: 4px;
}

.footer-item {
  border-radius: 8px;
  background-color: rgba(251, 251, 251, 0.3);
  width: 66px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms linear;
}

.footer-link {
  color: #fbfbfb;
  font-size: 9px;
  font-weight: 400;
  line-height: 1.3;
  text-transform: uppercase;
  padding: 15px 12px;
  transition: color 250ms linear;
}

.footer-social {
  margin-left: auto;
  margin-right: auto;
}

.footer-social-list {
  max-width: 88px;
  display: flex;
  gap: 8px;
}

.footer-social-item-icon {
  display: flex;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.footer-social-icon {
  fill: #fbfbfb;
  transition: fill-opacity 250ms linear;
}
.footer-social-item-icon:active .footer-social-icon {
  fill-opacity: 0.8;
}
.footer-title {
  margin: 40px auto 82px;
  max-width: 279px;
  color: #fbfbfb;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;
}

.copyright-info {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-copyright,
.footer-copyright-link {
  color: rgba(251, 251, 251, 0.4);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.03em;
  flex-shrink: 1;
}
.footer-item:active {
  background-color: #fbfbfb;
}
.footer-item:active .footer-link {
  color: #1b414b;
}
@media screen and (max-width: 340px) {
  .footer-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  /* TABLET FOOTER STYLES */

  .footer {
    margin-right: 16px;
    margin-left: 16px;
  }

  .footer-container {
    padding-top: 50px;
    padding-left: 48px;
    padding-right: 48px;
  }

  .footer-nav {
    max-width: 281px;
  }

  .footer-logo {
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.03em;
    margin-right: 106px;
  }

  .footer-item {
    width: 91px;
    height: 40px;
  }

  .footer-title {
    margin: 96px auto 99px;
    font-size: 32px;
    max-width: 640px;
  }

  .footer-social {
    margin-left: 91px;
    margin-right: 0;
  }

  .copyright-info {
    gap: 32px;
  }
  .footer-link {
    padding-right: 25px;
    padding-left: 24px;
  }
  .footer-item:hover,
  .footer-item:focus {
    background-color: #fbfbfb;
    color: #1b414b;
  }
  .footer-item:hover .footer-link,
  .footer-item:focus .footer-link {
    color: #1b414b;
  }
  .footer-social-item-icon:hover .footer-social-icon,
  .footer-social-item-icon:focus .footer-social-icon {
    fill-opacity: 0.8;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    margin-left: 25px;
    margin-right: 25px;
  }

  .footer-container {
    padding-left: 75px;
    padding-right: 75px;
  }

  .footer-logo {
    margin-right: 326px;
  }

  .footer-social {
    margin-left: 311px;
  }

  .footer-title {
    max-width: 693px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-logo {
    margin-right: 409px;
  }

  .footer-social {
    margin-left: 388px;
  }

  .footer-title {
    max-width: 699px;
  }
}
