@media screen and (max-width: 767px) {
  .mob-menu-thumb {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background: #0e1823;
    padding: 16px 20px 40px 20px;
    transform: translateX(0%);
  }

  .mob-nav-menu-top {
    background-color: #fbfbfb;
    border-radius: 8px;
    border: 1px solid #fbfbfb;
    width: 335px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-bottom: auto;
  }

  .mob-logo {
    color: #1b414b;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.03em;
    margin-top: 12px;
    margin-bottom: 13px;
  }

  .mob-menu-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    line-height: 0;
    padding: 0;
    fill: #055545;
  }
  .mob-menu-navigation {
    margin-bottom: auto;
  }

  .mob-menu-navigation-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    margin-bottom: auto;
  }

  .mob-menu-navigation-link {
    display: inline-block;
    text-align: center;
    color: #fbfbfb;
    text-transform: uppercase;
    line-height: 0.1;
    font-family: Inter;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    background-color: #1b414b;
    padding: 20px 25px 20px 24px;
    border-radius: 8px;
    width: 91px;
  }

  .dark {
    background-color: rgba(27, 65, 75, 0.5);
  }

  .mob-menu-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .mob-menu-social-item {
    width: 24px;
    height: 24px;
  }

  .mob-menu-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    fill: #fbfbfb;
  }

  .mob-menu-social-link:hover,
  .mob-menu-social-link:focus {
    fill: #fbfbfbcc;
  }
}
