

    .benetti-oasis-card, 
    .belle-anna-card {
        display: none;
    }
/* MOBILE START */

.our-yachts-section-title {
    /*TYPOGRAPHY*/
    color: #FBFBFB;
    text-align: center;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.02em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    max-width: 319px;
}

.our-yahts-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.our-yahts-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
    padding: 16px 16px 32px 16px;
    background-color: #FBFBFB;
    border-radius: 24px;
    border: none;
    margin-left: auto;
    margin-right: auto;
}
.our-yahts-card:nth-child(2),
.our-yahts-card:nth-child(3) {
    display: none;
}
.yacht-title {
    /* width: 270px; */
    display: inline-flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 125px;
    position: relative;
}

.yacht-title:after {
    color: rgba(4, 3, 6, 0.10);
    background-color: rgba(4, 3, 6, 0.10);
    content: "";
    width: 100%;
    position: absolute;
    bottom: -16px;
    height: 1px;

}
.yacht-name {
    color: #1B414B;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: -0.05em;
    text-transform: uppercase;

}

.yacht-class {
    color: #040306;
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    font-weight: 400;
    opacity: 0.4;
    text-align: end;
    text-transform: uppercase;
}
.yacht-params {
    display: flex;
    justify-content: flex-start;
    gap: 114px;
    flex-shrink: 1;
    flex-grow: 0;
}
.yacht-params-names {
    display: flex;
    flex-direction: column;
    gap: 6px;
    text-transform: uppercase;
    opacity: 0.4;
}
.yaht-parameter-name {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.03em;
}
.yaht-params-values {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}
.yaht-parameter-value {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.03em;
}
.yaht-rental-link-button {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
    display: block;
    justify-content: flex-start;
    padding: 14px 32px;
    border-radius: 15px;
    border: 1px solid rgba(251, 251, 251, 0.35);
    color: #FBFBFB;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    /* 128.571% */
    letter-spacing: -0.28px;
    background-color: inherit;

}
/* MOBILE END */

/* TABLET START */
@media screen and (min-width: 768px) {
     
     .our-yachts-section-title {
        font-size: 48px;
        max-width: 645px;
        margin-bottom: 75px;
    }
    .our-yahts-list {
        display: flex;        
        align-items: center;
        gap: 32px;
    }
    .our-yahts-card:nth-child(2) {
        display: flex;
    }
    .our-yahts-card {
        width: calc((100% - 32px)/2);
    }
    .yacht-name {
        gap: 16px 112px;
        font-size: 16px;
    }
    .yacht-title {        
        gap: 112px;
    }
    .benetti-card {
        gap: 22px;
    }
    
    
    .benetti-card-overflow {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 147px;
    }
    .yacht-class {
        font-size: 13px;
    }
    .yacht-params {
        gap: 6px 116px;
    }
    .benetti-params {
        gap: 6px 104px;
    }
}
/* TABLET END */

/* DESKTOP 1200 START */

@media screen and (min-width: 1280px) {
    .our-yachts-section-title {
        max-width: 714px;
    }
    .yacht-title {
        gap: 153px;
    }
    .yacht-params {
        gap: 153px
    }
    .benetti-card {
        gap: 33px;
    }
    .benetti-card-overflow {
        width: 177px;
    }
    
    .our-yahts-list {
        gap: 25px;
    }
    .our-yahts-card {
        width: calc((100% - 50px)/3)
    }
    .our-yahts-card:nth-child(3) {
        display: flex;
    }
    .belle-anna-title {
        gap: 118px;
    }
    .belle-anna-params {
        gap: 145px;
    }

}

/* DESKTOP 1200 END */

/* DESKTOP 1400 START */
@media screen and (min-width: 1400px) {
    .our-yahts-list {
        gap: 32px;
    }
    .our-yahts-card {
        width: calc((100% - 64px)/3);
    }
    .yacht-title {
        gap: 168px;
    }
    
    .benetti-card {
        gap: 48px;
    }
    .belle-anna-title {
        gap: 133px;
    }
    .yacht-params {
        gap: 172px;
    }
    .benetti-params {
        gap: 160px;
    }
    .belle-anna-params {
        gap: 160px;
    }
    
}