.reviews-title {
    text-align: center;
    margin-bottom: 25px;
}

.reviews-text {
    color: #FBFBFB;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: -0.02em;
    opacity: 0.4;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.reviews-list-item-first {
    padding: 32px 8px;
    border-radius: 24px;
    background: #FBFBFB;
}

.reviews-list-avatar {
    margin: 0 auto;
    margin-bottom: 24px;
}

.reviews-list-fullname {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.02em;
    color: #040306;
    margin-bottom: 8px;
}

.reviews-list-text-first {
    color: rgba(4, 3, 6, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.02em;
    max-width: 303px;
    margin-left: auto;
    margin-right: auto;
}

.review-form-text {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.02em;
    color: #040306;
    margin-bottom: 12px;
}

.review-form-wrapper{
    margin-bottom: 4px;
}

.reviews-list-item-form{
    padding: 32px 8px;
    border-radius: 24px;
    background: #FBFBFB;
    height: 282px;
}

.reviews-form-label{
    color: rgba(4, 3, 6, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.02em;
}

.reviews-form-file{
    opacity: 0;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    width: 0.4px;
    height: 0.4px;
}

.reviews-form-label-file{
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 240px;
    border: 2px dashed #150B22;
    padding: 9px 49px;
    border-radius: 6px; */
    cursor: pointer;
}

.reviews-form-input{
    padding: 10px 16px;
    color: rgba(4, 3, 6, 0.40);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: -0.02em;
    border-radius: 12px;
    border: 1px solid #1B414B;
    width: 100%;
}

.reviews-form-textarea{
    padding: 10px 16px;
    color: rgba(4, 3, 6, 0.40);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: -0.02em;
    border-radius: 12px;
    border: 1px solid #1B414B;
    width: 100%;
    resize: none;
}

.reviews-form-btn{
    border-radius: 15px;
    background: #1B414B;
    line-height: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    width: 141px;
    padding: 14px 32px;
    color: #FBFBFB;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: -0.02em;
    margin: 0 auto;
    display: block;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .reviews-list-item-second {
        display: none;
    }
}

@media screen and (min-width: 320px) and (max-width: 1280px) {
    .reviews-list-item-third {
        display: none;
    }
}


@media screen and (min-width: 768px) {
    .reviews-container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .reviews-title {
        font-size: 48px;
    }

    .reviews-text {
        max-width: 571px;
        font-size: 14px;
        line-height: 1.28;
        margin-bottom: 75px;
    }

    .reviews-list {
        display: flex;
        gap: 32px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .reviews-list-item {
        width: calc((100% - 32px) / 2);
    }

    .reviews-list-item-second {
        padding: 32px 8px;
        border-radius: 24px;
        background: #FBFBFB;
    }

    .reviews-list-text-second {
        color: rgba(4, 3, 6, 0.40);
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.4;
        letter-spacing: -0.02em;
        max-width: 296px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1280px) {
    .reviews-container {
        padding-left: 50px;
        padding-right: 50px;
    }

    .reviews-title {
        max-width: 854px;
        margin-right: auto;
        margin-left: auto;
    }

    .reviews-list {
        gap: 26px;
    }

    .reviews-list-item {
        width: calc((100% - 52px) / 3);
    }

    .reviews-list-item-first {
        padding: 32px 28px;
    }

    .reviews-list-text-first {
        max-width: 320px;
    }

    .reviews-list-item-second {
        padding: 32px 28px;
    }

    .reviews-list-text-second {
        max-width: 320px;
    }

    .reviews-list-item-third {
        padding: 32px 28px;
        border-radius: 24px;
        background: #FBFBFB;
    }

    .reviews-list-text-third {
        color: rgba(4, 3, 6, 0.40);
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.4;
        letter-spacing: -0.02em;
        max-width: 293px;
        margin-left: auto;
        margin-right: auto;
    }

}

@media screen and (min-width: 1440px) {
    .reviews-container {
        padding-left: 100px;
        padding-right: 100px;
    }

    .reviews-list {
        gap: 32px;
    }

    .reviews-list-item {
        width: calc((100% - 64px) / 3);
    }

    .reviews-list-item-first {
        padding: 32px 36px;
    }

    .reviews-list-item-second {
        padding: 32px 36px;
    }

    .reviews-list-item-third {
        padding: 32px 36px;
    }
}